<div class="container-fluid mt-3">
  <div class="row justify-content-center">

    <div class="col-lg-2 col-sm-2">
      <div class="card border-info"
           style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
        <div class="card-body text-center p-2">
          <i class="bi bi-people-fill" style="font-size: 2rem; color: #3dcd58"></i>
          <div class="card-title mb-0 font-weight-bold">{{userCount}}</div>
          <p class="card-text font-weight-bold"><span>Users</span></p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-sm-2">
      <div class="card border-info"
           style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
        <div class="card-body text-center p-2">
          <i class="bi bi-person-fill" style="font-size: 2rem; color: #3dcd58"></i>
          <div class="card-title mb-0 font-weight-bold">{{managerCount}}</div>
          <p class="card-text font-weight-bold"><span>Managers</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-sm-2">
      <div class="card border-info"
           style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
        <div class="card-body text-center p-2">
          <i class="bi bi-diagram-3-fill" style="font-size: 2rem; color: #3dcd58"></i>
          <div class="card-title mb-0 font-weight-bold">{{groupCount}}</div>
          <p class="card-text font-weight-bold"><span>Groups</span></p>
        </div>
      </div>
    </div>

  </div>
</div>
